@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  background-color: #081b29;
  height: 100%;
  width: 100%;
}
.main {
  height: 100%;
  width: 100%;
  position: relative;
}

.nav {
  height:  80px;
  width: 100%;
  background-color: #1c72d4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
}
.nav ul {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}
.nav a {
  font-size: 2vw;
  font-weight: 700;
  color: white;
  text-decoration: none;
  
}
.nav ul li a {
  font-size: 1.3vw;
  color: white;
  padding: 1vh 2vh;
  font-weight: 600;
}
.nav ul li {
  list-style-type: none;
}
.nav ul li a:hover {
  color: black;
}
.nav i {
  font-size: 1.6vw;
  display: none;
}
.nav button {
  background-color: transparent;
  padding: 0.3vw 1vw;
  margin: 0.5vw;
  border-radius: 7px;
  border: 2px white solid;
  color: white;
  font-size: 1.3vw;
  font-weight: 600;
}
.nav button:hover {
  color: black;
  background-color: white;
}
.content {
  display: flex;
  height: calc(100% - 80px);
  width: 100%;
}
.left {
  height: 100%;
  width: 50%;
  padding: 3vw 3vw;
}
.left h1 {
  font-size: 4vw;
  color: mintcream;
  line-height: 4.4vw;
}
.left h1 span {
  color: #0071f2;
}
.left p {
  font-size: 1.2vw;
  font-weight: 600;
  width: 90%;
  color: lightgrey;
  margin-top: 2vw;
  margin-bottom: 1vw;
}
.left button {
  background-color: transparent;
  padding: 0.5vw 1vw;
  border-radius: 7px;
  border: 1px white solid;
  color: white;
  font-size: 1.3vw;
  font-weight: 600;
}
.left button:hover {
  color: black;
  background-color: whitesmoke;
}
.right {
  height: 100%;
  width: 50%;
  border-radius: 20px;
}
.right img {
  height: 100%;
  width: 100%;
}
